/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

picture {
  display: contents;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  min-height: 100%;
  margin: 0;
}
