/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: $base-font;
  font-size: 14px;
  line-height: 18px;
}
