/* здесь используйте глобальные переменные */

// Шрифты

$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Цвета

$black: #000000;
$basic-grey: #f2f2f2;
$secondary-grey: #eaeaea;
$dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic-green: #68b738;
$white: #ffffff;
