/* здесь используйте глобальные переменные */

// Ширина экранов
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифты

$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Цвета

$black: #000000;
$basic-grey: #f2f2f2;
$secondary-grey: #eaeaea;
$dark-grey: #444444;
$special_dark-grey-2: #222222;
$special-grey-2: #666666;
$light-grey: #ebebeb;
$basic-green: #68b738;
$basic-green-transparent: rgba(104, 183, 56, 0.85);
$basic-green-2: #5eaa2f;
$white: #ffffff;
