.additional-card {
  padding: 12px 0 19px;
  display: grid;
  grid-template-columns: 70% 30%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 50% 1fr 93px;
    align-items: center;
    padding: 26px 37px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 305px 224px 62px 244px;
    column-gap: 20px;
    padding: 16px 0 14px;
  }
}

.additional-card__heading {
  grid-column: 1/3;
  line-height: 16px;
  color: $special_dark-grey-2;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.additional-card span {
  line-height: 14px;
  color: $dark-grey;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    text-align: left;
  }
}

.additional-card__feature {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.additional-card__value {
  text-align: right;
}

.additional-card__button {
  grid-column: 1/3;
  padding: 10px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    margin-top: 26px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    margin-top: 0;
  }
}
