.button {
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--main {
  color: $white;
  background-color: $basic-green;

  &:hover,
  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--additional {
  color: $dark-grey;
  background-color: $basic-grey;


  &:hover,
  &:focus,
  &:active {
    background-color: $light-grey;
  }
}
