.hero {
  padding: 27px 15px 20px;
  color: $white;
  background-image:
    linear-gradient($basic-green-transparent 302px, $white 302px),
    url("../../images/index/hero/hero-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient($basic-green-transparent 302px, $white 302px),
      url("../../images/index/hero/hero-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 40px 90px 0;
    color: $black;
    background: $white;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    background-image:
      linear-gradient(90deg, $white 50%, $basic-green-transparent 50%),
      url("../../images/index/hero/hero-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% auto, 50% auto;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(90deg, $white 50%, $basic-green-transparent 50%),
        url("../../images/index/hero/hero-background-desktop@1x.jpg");
    }
  }
}

.hero__slogan {
  font-family: $secondary-font;
  text-transform: uppercase;
  line-height: 14px;
}

.hero-image {
  width: 280px;
  height: 270;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
  }
}

.hero__button {
  padding: 10px;
}
