.main-card {
  padding: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 12px 37px 40px;
    background-image: linear-gradient(transparent 80px, $basic-grey 80px);
  }

  @media (min-width: $desktop-width) {
    padding: 17px 38px 40px;
  }
}

.main-card__link {
  @include link;
}

.main-card__heading {
  color: $special_dark-grey-2;
}

.main-card__properties {
  @include list-style;
}

.main-card__properties-item {
  font-size: 12px;
  line-height: 16px;
}
