.programs {
  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.programs__list {
  @include list-style;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding: 77px 52px 55px;
  }
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__item::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 20px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: auto;
  }
}

.programs__item--loss::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-sits");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: auto;
  }
}

.programs__item--gain::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 12px;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#cat-goes");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    right: auto;
  }
}

.programs__heading {
  margin-bottom: 29px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

@media (max-width: $mobile-width) {
  .programs__description::after {
    content: "";
    display: block;
    margin-top: 22px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.programs__button {
  padding: 4px 57px 4px 0;
  color: $black;
  text-decoration: none;
  line-height: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.programs__button-text::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-left: 17px;
  background-image: url("../../icons/stack.svg#arrow-icon");
  background-repeat: no-repeat;
  background-size: 32px 12px;
  background-position: right center;

  @media (min-width: $tablet-width) {
    margin-left: 27px;
    height: 19px;
  }
}

.programs__button:hover .programs__button-text::after {
  width: 32px;
}

.programs__button:active {
  opacity: 0.3;
}
