.programs__list {
  @include list-style;
}

.programs__item {
  background-color: $basic-grey;
}

.programs__heading {
  font-size: 24px;
  line-height: 37px;
}

.programs__button {
  color: $black;
  text-decoration: none;
}
