.show-more {
  background-image: url("../../icons/stack.svg#plus-icon");
  background-size: 30px 30px;
  background-position: center top;
  background-repeat: no-repeat;
}

.show-more__heading {
  color: #111111;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
}
