.subscribe__heading {
  font-size: 24px;
  line-height: 24px;
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
}

.subscribe__field::placeholder {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: $dark-grey;
}
